<div class="container">
  <h1>Sign Up</h1>
  <div class="form-container">
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <ion-item fill="outline">
        <ion-label position="floating">User Name</ion-label>
        <ion-input required="true" name="userName" color="tertiary" type="text" ngModel text></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input required="true" type="email" name="email" ngModel email></ion-input>
        <ion-note slot="helper">Email</ion-note>
        <ion-note slot="error">Insert a valid email</ion-note>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
        <ion-input required="true" name="password" [counter]="true" minlength="6" color="tertiary" type="Password" ngModel password></ion-input>
        <ion-note slot="error">Use more than 6 chars</ion-note>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">First Name</ion-label>
        <ion-input required="true"  name="firstName" color="tertiary" type="text" ngModel text></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input required="true" name =lastName color="tertiary" type="text" ngModel text></ion-input>
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">City</ion-label>
        <ion-input required="true"  name="city" color="tertiary" type="text" ngModel text></ion-input>
      </ion-item>
      <ion-button [disabled]="!signupForm.valid" size="default"  type="submit">SIGN UP</ion-button>
    </form>
    <p>Already Signed Up? <a routerLink="/login">Log In</a>
  </div>
</div>
