*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM sans;
}

html, body{
  overflow-y: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ion-modal {
  --height: 50%;
  --border-radius: 10px;
  --box-shadow: none;
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219, 0.082);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(231, 105, 105);
  --color: white;

}

ion-title{
  margin-left: 20px;
}
